name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Lint Code
        if: github.event_name == 'pull_request'
        run: npm run lint
      - name: Build Code
        if: github.event_name == 'pull_request'
        run: npm run build
      - run: npm test -- --coverage
      - name: Upload Test Coverage
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Build Docker Image
        if: github.event_name == 'pull_request'
        run: docker build .
